@import url('./design.css');

body{
    /* background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.5), rgba(5, 5, 5, 0.5)), url("./starter-code/assets/desktop/bg-image-daytime.jpg"); */
    background-repeat: no-repeat;
    background-size: cover;
    color: hsl(var(--clr-white));
}

.section-center{
    display: flex;
    flex-direction: column;
    padding: 4rem 12rem;
}

.quote-container{
    position: relative;
    width: 45rem;
    display: flex;
    /* display: block; */
    flex-direction: row;
    margin-bottom: 20rem;
    /* transform: translate(100%); */
    transform: translateY(0);
    transition: transform 500ms ease-in-out;
}

.quote-container[data-visible="false"]{
    transform: translateY(200);
    display: none;
}

.quote-text{
    padding-bottom: 1rem;
}

.quote-author{
    font-weight: bold;
}

.quote-container button {
    cursor: pointer;
    background: transparent;
    border: none;
    display: flex;
    width: 2rem;
}

.quote-container button img {
    width: 1.8rem;
    margin: 0.5rem;
}


.weather-time-container{
    position: relative;
    display: flex;
    justify-content: space-between;
}

.weather-time-container-info{
    width: 45rem;
}

.day-box{
    display: flex;
    align-items: center;
}

.icon-day-box{
    border: none;
    background: url('./starter-code/assets/desktop/icon-moon.svg');
    width: 1.5rem;
    height: 1.5rem;
    background-repeat: no-repeat;
    background-size: contain;
    margin-right: 0.5rem;
    
}

.hour-box{
    display: flex;
    flex-direction: row;
    align-items: flex-end;
}

.hour-spec{
    padding-bottom: 1.2rem;
    font-size: 3rem;
}

.btn-box{
    display: flex;
    align-items: flex-end;
}


.further-information{
    position: relative;
    display: none;
    background: hsl( var(--clr-grey) );
    opacity: 0.9;
    color: hsl(var(--clr-black-light));
    grid-template-columns: 1fr 1rem 1fr;
    justify-items:flex-start ;
    align-items: center;
    padding: 6rem 15rem;
    
    transition: transform 500ms ease-in-out;
    /* transform: translateY(0); */
}

.further-information[data-visible="true"]{
    display: grid;
    transform: translateY(0);
}

.time-zone-day-week{
    grid-column: 3;
}

.time-zone-day-year{
    grid-column: 1;
}

.time-zone-weeks{
    grid-column: 3;
}



.line{
    grid-column: 2;
    grid-row: 1 / span 2;
    border-left: 1.5px solid hsl(var(--clr-black-light));
    height: 12rem;
    
}

.time-zone-day-week,.time-zone-weeks{
    margin-left: 6rem;
}

/* transition */



.further-information[data-visible="false"]{
    display: none;
}


/* media querry */


/* tablet */
@media (max-width:767px) {
    body{
        margin: 0;
        padding : 0;
    }


    .section-center{
        margin: 3rem 2rem;
        padding : 0;
    }

    .quote-container{
        width: 35rem;
        margin-bottom: 18rem;
    }

    .weather-time-container{
        width: 25rem;
        flex-direction: column;
    }

    .further-information{
        margin: 0;
        padding : 4rem;
    }

    .line{
        display: none;
    }

}


@media (max-width:501px) {
    body{
        margin: 0;
        padding : 0;
    }

    .section-center{
        margin-bottom: 6rem;
    }

    .quote-container{
        width: 25rem;
        
        margin-bottom: 14rem;
    }

    .btn-box{
        margin-top: 2rem;
    }

    .weather-time-container{
        margin-top: 3rem;
    }

    .further-information{
        grid-template-columns: 1fr;
        margin: 0;
        padding : 4rem;
        
    }

    

    .further-information > div{
        display: flex;
        justify-content: space-between;
        width: 25rem;
    }

    .time-zone-day-week{
        grid-column: 1;
    }
    
    .line{
        display: none;
        border-left: none;
        height: 0rem;
        
    }

    .time-zone-day-year{
        grid-column: 1;
    }
    
    .time-zone-weeks{
        grid-column: 1;
    }

    .time-zone-day-week,.time-zone-weeks{
        margin-left: 0;
    }

}

































/***************/
/* Components */
/***************/
/***************/

/* BUTTONS */




.btn {
    margin: 2rem;
	width: 11rem;
	height: 3.5rem;
	cursor: pointer;
	display: flex;
	align-items: center;
    /* padding: 0.5rem; */
    justify-content: space-between;
	border: none;
	border-radius: 28px;
	box-shadow: 1px 1px 3px rgba(0,0,0,0.15);
	background: hsl( var(--clr-white) );
}

.btn, .btn span {
	transition: 500ms;
}

.btn .text {
    position: relative;
	transform: translateX(35px);
	color: hsl( var(--clr-black-light) );
	font-weight: bold;
    font-size: var(--fs-400);
    letter-spacing: 0.5rem;
    left: -1rem;
}

.btn .icon {
	position: absolute;
	
    background: hsl( var(--clr-black-light) );
    border-radius: 50px;
	transform: translateX(110px);
	height: 40px;
	width: 40px;
	display: flex;
	align-items: center;
	justify-content: center;
}

.btn svg {
	width: 15px;
	fill: #eee;
}

.btn:hover {
	background: hsl( var(--clr-black-light) );
}

.btn:hover .text {
	color: transparent;
}

.btn:hover .icon {
	width: 150px;
	border-left: none;
	transform: translateX(0);
}

.btn:focus {
	outline: none;
}

