@import url('./design.css');

body{
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.5), rgba(5, 5, 5, 0.5)), url("./starter-code/assets/desktop/bg-image-daytime.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    color: hsl(var(--clr-white));
}

.section-center{
    display: flex;
    flex-direction: column;
    padding: 4rem 12rem;
}

.quote-container{
    position: relative;
    width: 45rem;
    /* display: flex; */
    display: block;
    flex-direction: row;
    margin-bottom: 20rem;
    /* transform: translate(100%); */
    transform: translateY(-200%);
    transition: transform 500ms ease-in-out;
}

.quote-container[data-visible="true"]{
    transform: translateY(0);
}

.quote-text{
    padding-bottom: 1rem;
}

.quote-author{
    font-weight: bold;
}

.quote-container button {
    cursor: pointer;
    background: transparent;
    border: none;
    display: flex;
}

.quote-container button img {
    width: 1.8rem;
    margin: 0.5rem;
}


.weather-time-container{
    position: relative;
    display: flex;
    justify-content: space-between;
}

.hour-box{
    display: flex;
    flex-direction: row;
    align-items: flex-end;
}

.hour-spec{
    padding-bottom: 1.2rem;
    font-size: 3rem;
}

.btn-box{
    display: flex;
    align-items: flex-end;
}


.further-information{
    position: relative;
    display: none;
    background: hsl( var(--clr-grey) );
    opacity: 0.9;
    color: hsl(var(--clr-black-light));
    
    grid-template-columns: 1fr 1rem 1fr;
    justify-items:flex-start ;
    align-items: center;
    padding: 6rem 15rem;
    /* transform: translate(100%); */
    transition: transform 500ms ease-in-out;
    transform: translateY(0);
}

.further-information[data-visible="true"]{
    display: grid;
    transform: translateY(-100%);
}

.time-zone-day-week{
    grid-column: 3;
}

.time-zone-day-year{
    grid-column: 1;
}

.time-zone-weeks{
    grid-column: 3;
}



.line{
    grid-column: 2;
    grid-row: 1 / span 2;
    border-left: 1.5px solid hsl(var(--clr-black-light));
    height: 12rem;
    
}

.time-zone-day-week,.time-zone-weeks{
    margin-left: 6rem;
}

/* transition */



.further-information[data-visible="false"]{
    display: none;
}

































/***************/
/* Components */
/***************/
/***************/

/* BUTTONS */




.btn {
    margin: 2rem;
	width: 11rem;
	height: 3.5rem;
	cursor: pointer;
	display: flex;
	align-items: center;
    /* padding: 0.5rem; */
    justify-content: space-between;
	border: none;
	border-radius: 28px;
	box-shadow: 1px 1px 3px rgba(0,0,0,0.15);
	background: hsl( var(--clr-white) );
}

.btn, .btn span {
	transition: 500ms;
}

.btn .text {
    position: relative;
	transform: translateX(35px);
	color: hsl( var(--clr-black-light) );
	font-weight: bold;
    font-size: var(--fs-400);
    letter-spacing: 0.5rem;
    left: -1rem;
}

.btn .icon {
	position: absolute;
	
    background: hsl( var(--clr-black-light) );
    border-radius: 50px;
	transform: translateX(110px);
	height: 40px;
	width: 40px;
	display: flex;
	align-items: center;
	justify-content: center;
}

.btn svg {
	width: 15px;
	fill: #eee;
}

.btn:hover {
	background: hsl( var(--clr-black-light) );
}

.btn:hover .text {
	color: transparent;
}

.btn:hover .icon {
	width: 150px;
	border-left: none;
	transform: translateX(0);
}

.btn:focus {
	outline: none;
}

